
.heading{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 30px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: darkgreen;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkblue;
}